html {
    height: 100%;
}

body {
    margin: 0;
    /* background-image: -webkit-linear-gradient(top right, #8964b1 0%, #DF7861 25%, #94B49F 50%, #e0d5a1 75%); */
    /* background-image: -webkit-linear-gradient(top right, #DF7861 0%, #ECB390 25%, #94B49F 50%, #FCF8E8 75%); */
    /* background-image: -webkit-linear-gradient(top right, #243A73 0%, #A5BECC 25%, #F2EBE9 50%, #7C3E66 75%); */
    /* background-image: -webkit-linear-gradient(top right, #FDCEB9 0%, #D885A3 25%, #7897AB 50%, #655D8A 75%); */
    /* background-image: -webkit-linear-gradient(top right, #DD9866 0%, #8F384D 25%, #5C6E91 50%, #EEEDED 75%); */

    

    background-image: -webkit-linear-gradient(top right, #874C62 0%, #C98474 25%, #F2D388 50%, #A7D2CB 75%);  


    /* background-image: -webkit-linear-gradient(top right, rgb(107,107,107) 0%, rgb(92,92,92) 25%, rgb(77,77,77) 50%, rgb(52,52,52) 75%, rgb(37,37,37) 100%); */

    /* color: rgb(245, 245, 245); */
    color: rgb(52,52,52);
}

main {
    position: absolute;
    top: 32%;
    left: 29%;
    width: 42%;
}

.quote {
    font-size: 45px;
    margin: 0;
}

.about-me {
    font-size: 22px;
    margin: 0;
    width: max-content;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-index,
button {
    font-size: 18px;
    /* color: rgb(245, 245, 245); */
    color: rgb(52,52,52);
    font-variant: small-caps;
    background-color: transparent;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

button {
    padding: 14px 18px;
    border-radius: 0 0 8px 8px;
}

.container-menu {
    position: relative;
    display: inline-block;
}

.container-menu .menu {
    display: none;
    position: absolute;
    bottom: 49px;
    width: 124.38px;
    z-index: 1;    
}

.menu a {
    padding: 14px 18px;
    display: block;
}

.menu a:hover {
    /* background-color: rgb(52,52,52); */
    background-color: rgba(245, 245, 245, 0.5);
}

.container-menu:hover .menu {
    display: block;
}

.container-menu:hover button {
    /* background-color: rgb(37,37,37); */
    background-color: rgba(245, 245, 245, 0.8);
}

.inside-option {
    font-size: 14px;
    padding: 0 6px;
}

@media only screen and (max-width: 700px) {
    main {
        top: 30%;
        left: 25%;
        width: 50%;
    }

    .quote {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .about-me {
        font-size: 16px;
        margin-top: 0;
    }

    .link-index {
        font-size: 14px;
    }
    .container-menu .menu {
        display: none;
        position: absolute;
        bottom: 45px;
        width: 104.73px;
        z-index: 1;
    }

    button {
        font-size: 14px;
    }

    .menu a {
        padding: 12px 18px;
    }

    .inside-option {
        font-size: 12px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1200px) {
    main {
        top: 30%;
        left: 25%;
        width: 50%;
    }

    .quote {
        font-size: 35px;
        margin-bottom: 12px;
        padding: 0 40px;
    }

    .about-me {
        font-size: 20px;
        margin-top: 0;
        padding: 0 40px;
    }
}