.supplement-button {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 1%;
    top: 150px;
    border: 1px solid rgb(245, 245, 245);
    background-color: rgba(52,52,52,0.6);
    border-radius: 21px;
    width: 80px;
    height: 40px;
}

.sup-interests {
    top: 65px;
}

.sup-menu-int {
    top: 65px;
}

.button-back,
.button-home {
    position: relative;
}

.back,
.home-page {
    color: rgb(245, 245, 245);
}

.back {    
    font-size: 20px;
}

.home-page {
    font-size: 25px;
}

.button-back .hover-paragraph,
.button-home .hover-paragraph {
    position: absolute;
    margin: 0;
    padding: 2px 4px;
    height: 20px;
    width: 40px;
    color: rgb(245, 245, 245);
    background-color: rgba(52,52,52,0.5);
    text-align: center;
    border-radius: 4px;
    bottom: -38px;
    margin-left: -8px;
    left: 50%;
    display: none;
    pointer-events: none;
    z-index: 200;
}

.button-home .hover-paragraph {
    bottom: -35px;
}

.button-back:hover .hover-paragraph,
.button-home:hover .hover-paragraph {
    display: block;
}

.fa-chevron-left:hover,
.fa-home:hover {
    filter: brightness(80%);
}

@media only screen and (max-width: 600px) {
    .supplement-button {
        left: 1.5%;
        top: 160px;
        width: 60px;
        height: 30px;
    }    

    .sup-cv {
        left: 0;
        top: 140px;
    }

    .sup-interests {
        top: 65px;
    }

    .sup-menu-int {
        top: 20px;
    }

    .back {    
        font-size: 17px;
    }
    
    .home-page {
        font-size: 22px;
    }

    .hover-paragraph {
        font-size: 14px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .supplement-button {
        left: 1.5%;
        top: 160px;
        width: 60px;
        height: 30px;
    }

    .sup-interests {
        top: 65px;
    }

    .sup-menu-int {
        top: 20px;
    }

    .back {    
        font-size: 18px;
    }
    
    .home-page {
        font-size: 23px;
    }
}

@media only screen and (min-width: 1201px) {    
    .back {
        font-size: 22px;
    }

    .home-page {
        font-size: 28px;
    }
}