html {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(245, 245, 245);
}

main {
    margin: 6% 22%;
    position: relative;
}

.title-interest {
    font-size: 8.5vh;
    font-variant: small-caps;
    color: rgba(52,52,52,0.7);
    writing-mode: vertical-rl;
    rotate: 180deg;

    position: absolute;
    left: -20%;
    bottom: 0;
}

.element,
.elements {
    position: relative;
}

.elements:hover {
    cursor: pointer;
    z-index: 100;
    width: 120%;
    height: 120%;
    right: 10%;
    bottom: 10%;
    border: 4px solid rgba(52,52,52,0.7);
    rotate: -1deg;
    transition: 1s; 
    /* animation: my-element 2s 1;
    animation-fill-mode: forwards; */
}

/* @keyframes my-element {
    from {left: 0px;}
    to {left: 100px;}
    from {top: 0px;}
    to {bottom: 100px;}
  } */

.interest {
    color: rgb(245, 245, 245);
    font-variant: small-caps;
    font-size: 18px;
    letter-spacing: 2px;

    position: absolute;
    right: 2%;
    bottom: -3%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 11vh);
    gap: 10px;
    z-index: 100;
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    background-image: url(../../assets/images/index/antique.jpg);
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
}

.two {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../../assets/images/index/cooking.jpg);
    
    background-position: 0 -380px;
    background-repeat: no-repeat;
    background-size: fill;
}

.three {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    background-image: url(../../assets/images/index/analogic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
}

.four {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 6;
    background-image: url(../../assets/images/analogic-photo/3-cime-autumn-2021.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.five {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    background-image: url(../../assets/images/index/reading.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reading-link {
    color: rgba(245, 245, 245, 1);
    text-decoration: none;
    font-variant: small-caps;
    font-size: 20px;
    text-align: center;

    position: absolute;
    left: 50%;
}

.reading-link:hover {
    text-decoration: underline;
}

.gr {
    margin-left: -48.5px;
    top: 30%;
}

.ig {
    margin-left: -45px;
    top: 55%;
}

.six {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 8;
    background-image: url(../../assets/images/index/my-work.jpg);
    background-position: 0 -95px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    main {
        margin: 35% 15%;
    }
    
    .title-interest {
        font-size: 7vh;    
        left: -35%;
    }
    
    .interest {
        font-size: 15px;
        rotate: 180deg;        
        writing-mode: vertical-rl;
    
        position: absolute;
        right: -8%;
        bottom: 3%;
    }

    .reading {
        writing-mode: horizontal-tb;
        rotate: none;
        bottom: -5%;
        left: 0;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 9vh);
        gap: 10px;
    }
    
    .two {        
        background-position: center;
        background-size: cover;
    }
    
    .five {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .reading-link {
        font-size: 12px;
    }
    
    .gr {
        margin-left: -29px;
        top: 20%;
    }
    
    .ig {
        margin-left: -26.7px;
        top: 50%;
    }
    
    .six {
        background-position: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    main {
        margin: 22% 12%;
        padding-bottom: 80px;
    }
    
    .title-interest {
        font-size: 7vh;    
        left: -10%;
        bottom: 80px
    }
    
    .interest {
        font-size: 17px;
        right: 1%;
        bottom: -15%;
    }

    /* .antique {} */
    
    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 9vh);
        gap: 10px;
    }
    
    .two {        
        background-position: center;
        background-size: cover;
    }
    
    .five {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .reading-link {
        font-size: 12px;
    }
    
    .gr {
        margin-left: -29px;
        top: 20%;
    }
    
    .ig {
        margin-left: -26.7px;
        top: 50%;
    }
    
    .six {
        background-position: center;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1200px)